// --------------------------------------------------
// Card restaurant
// --------------------------------------------------

.card-restau{
    @include box-shadow; overflow: hidden; border-radius: $radius; 

    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__img{ width: 100%; height: 175px; object-fit: cover; }

    &__infos{
        padding: 14px;
        min-height: 75px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3px 10px;
        grid-template-areas: 
        "title heart"
        "location heart";

        background-color: $white;
        
        &__title{
            font-size: 1.1rem;
            font-weight: 500;
            grid-area: title;
        }
        &__location{
            font-size: 1.05rem;
            opacity: .7;
            grid-area: location;
        }
        &__heart{
            grid-area: heart;
            align-self: center;
            font-size: 1.6rem;
            margin-right: 10px;
        }
    }

    &[data-new="true"] &__container::before{
        content: 'Nouveau';
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 12px;
        margin: 12px;
        background-color: $turquoise;

        font-size: 0.9rem;
        color: darken($turquoise, 50%);
        border-radius: 3px;
    }

}