// --------------------------------------------------
// Heart component
// --------------------------------------------------

.heart-component{
    position: relative;
    margin-right: 10px;

    font-size: 1.6rem;

    cursor: pointer;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten;
        background: $linearGradient;
        opacity: 0;
        transition: opacity .3s ease;
    }

    svg{
        margin: 0 3px;

        path{
            fill: transparent;
            stroke: $black;
            stroke-width: 3rem;
            transition: fill .3s ease;
        }
    }

    &:hover, &:focus{
        path{ fill: $black; }
        &::before{ opacity: 1; }
    }
    
}