// --------------------------------------------------
// Fonts
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');


// --------------------------------------------------
// Reset css and general style
// --------------------------------------------------

// reset

*{ box-sizing: border-box; margin: 0; padding: 0; }

a{ text-decoration: none; color: inherit; }

// General

body{
    margin-top: 63px;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $black;
    background-color: $white;
}

input{  font-family: 'Roboto', sans-serif; }

h1, h2{ font-size: 1.5rem; font-weight: 700; }

h3{ font-size: 1.2rem; font-weight: 500; }

p{ font-size: 1.1rem; }

li{ list-style-type: none; }

.container, .container-mrg{ padding: 40px 20px;}
.container-mrg{ margin: 0 auto; }

@for $i from 1 through 10{
    .delay-#{$i}{
        animation-delay: #{$i*0.1}s;
    }
}