// --------------------------------------------------
// Section location
// --------------------------------------------------

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: $darkGrey;

    color: lighten($black, 21%);

    &__city{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
        height: 60px;
        

        &__input{
            width: 120px;
            height: 60px;
            background-color: transparent;
            outline: 0;
            border: 0px;
            font-size: 1.1rem;
            font-weight: 500;

            &::placeholder{ color: lighten($black, 21%); opacity: 1; }
            &:focus::placeholder{ opacity: .5; }
        }
    }

}



// --------------------------------------------------
// Section explore
// --------------------------------------------------

.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $grey;

    text-align: center;

    &__title{ max-width: 80%; }

    &__catch-phrase{ color: lighten($black, 30%); }

    &__btn{ margin: 15px 0; }

    &__bg{ display: none; }

    @media screen and (min-width: $desktop){
        position: relative;
        overflow: hidden;
        background-color: transparent;
        grid-area: explore;

        &__bg{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;

            transform: translate3d(-50%, -50%, 0) scale(1.2);
            object-fit: cover;
            opacity: .3;
            z-index: -1;
        }
    }
}

// --------------------------------------------------
// Section functioning
// --------------------------------------------------

.functioning{

    &__title{ margin-bottom: 30px; }

    &__steps{ display: flex; flex-direction: column; gap: 25px; margin-left: 12px; }

    &__step{
        @include box-shadow;

        position: relative;
        display: flex;
        align-items: center;
        gap: 25px;
        width: 100%;
        height: 75px;
        
        padding: 0 35px;
        border-radius: $radius;
        background-color: $grey;

        @for $i from 1 through 3{
            &:nth-child(#{$i})::before{
                content: '#{$i}';
                position: absolute;
                top: 50%;
                left: 0;

                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;

                border-radius: 12px;
                background-color: $purple;

                color: $white;

                transform: translate3d(-50%, -50%, 0);
            }
        }

        .step__icon{ width: 20px; font-size: 1.3rem; color: $purple; }
        .step__title{ font-size: 1rem; font-weight: 500; }
    }

    @media screen and (min-width: $tablette) and (max-width: calc(#{$desktop} - 1px)){
        &__steps{ flex-direction: row; flex-wrap: wrap; gap: 40px; }
        &__step{ width: calc(50% - 20px); }
    }

    @media screen and (min-width: $desktop){
        grid-area: functioning;
        border-radius: 0 0 0 $radius;
        margin-bottom: 60px;
        background-color: $white;

        &__steps{ gap: 35px; }
    }
}

// --------------------------------------------------
// Section restaurant
// --------------------------------------------------

.restaurant{
    background-color: $grey;
    padding-bottom: 60px;

    &__title{
        margin-bottom: 30px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    @media screen and (min-width: $tablette){
        &__list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 40px;
        }
    }

    @media screen and (min-width: $desktop){
        grid-area: restaurant;
    }
}

// --------------------------------------------------
// Desktop grid
// --------------------------------------------------

@media screen and (min-width: $desktop){
    .main-home{
        position: relative;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "explore explore"
        "restaurant functioning";
        background-color: $grey;

        z-index: 0;
    }
}
